span.sidebar-brand-text {
  font-size: small;
  text-align: center;
}

div.highlight {
  background: #F4F4F4;
}

body[data-theme="dark"] div.highlight {
  background: #383838;
}

/* Copied the style for a.pdf from website/templates/index_furo.html */

a.pdf {
  margin-right: 0.5em;
}

a.pdf:hover {
  text-decoration: none;
}

/* Style for announcement banner */

.announcement {
  background: orange;
}

.announcement-content {
  color: black;
}

.announcement-content a {
  color: white;
  text-decoration: none;
}

/* Style for the floating versions menu */

.sidebar-drawer {
  z-index: 100;
}

#versions-menu {
  position: fixed;
  bottom: 10px;
  right: -calc(100% - 10pt); /* Calculate the right position based on the full width minus 10pt */
  padding-left: 10pt; /* Left padding of 10pt */
  width: 200px; /* Set the width of your menu */
  padding: 5px;
  padding-left: 10pt; /* Ensure left padding is 10pt */
  font-size: small;
  opacity: 1;
  background-color: #fff;
  color: #00f;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: right 0.3s ease-in-out; /* Smooth transition */
}

#versions-menu:hover {
  right: 0; /* Bring the menu fully into view */
  padding-left: 5px;
}

body[data-theme="dark"] {
  #versions-menu {
    background-color: black;
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {  /* the same styles with body[data-theme="dark"] */
    #versions-menu {
      background-color: black;
      color: white;
    }
  }
}

#versions-menu:hover {
    opacity: 1
}
